@tailwind base;
@tailwind components;
@tailwind utilities;
@media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
    body {
      color: white;
      background: black;
    }
  }
body {
    @apply dark:bg-slate-900;
}

@import "./global/header.scss";
@import "./page/home.scss";
@import "./page/blog-detail.scss";
